<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="cernerFromAddress" value="DL_Client_Help_Desk_Interface@cerner.com" />
    <add key="nonCernerFromAddress" value="DL_Client_Help_Desk_Interface@cerner.com" />
    <add key="uCernFromAddress" value="soa.notifications.email@gmail.com" />
    <add key="fromAddressDisplayName" value="SOA Notification Manager" />
		<add key="dbConnectionString" value="data source = CESCLDDBDEV00; initial catalog = WSI_Cloud; user id = soasvc; password = 3ndofFil3" />
		<add key="unsubscribeURL" value="http://soa.cerner.com/DNotify/NotificationUnSubscribe.aspx" />
    <add key="confirmationLink" value="http://soa.cerner.com/DNotify/NotificationConfirmation.aspx?Conf=" />
    
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="arvind.suryakumar@cerner.com">
        <network host="smtprr.cerner.com" port="25" userName="AS016188" password="Reload194" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
	<system.web>
    <customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies></compilation>
		<authentication mode="Windows">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
	</system.web>
  <location path="Subscribers.aspx">
    <system.web>
      <authorization>
        <allow users="WHQ_NT_DOMAIN\AS016188, WHQ_NT_DOMAIN\BG9469, WHQ_NT_DOMAIN\KM020180, WHQ_NT_DOMAIN\AG011842, WHQ_NT_DOMAIN\LS020757, WHQ_NT_DOMAIN\TB020319, WHQ_NT_DOMAIN\LL047891" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="NotificationSend.aspx">
		<system.web>
			<authorization>
				<allow users="WHQ_NT_DOMAIN\AS016188, WHQ_NT_DOMAIN\BG9469, WHQ_NT_DOMAIN\KM020180, WHQ_NT_DOMAIN\AG011842, WHQ_NT_DOMAIN\LS020757, WHQ_NT_DOMAIN\TB020319, WHQ_NT_DOMAIN\LL047891" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="Templates.aspx">
    <system.web>
      <authorization>
        <allow users="WHQ_NT_DOMAIN\TH026013, WHQ_NT_DOMAIN\AS016188, WHQ_NT_DOMAIN\BG9469, WHQ_NT_DOMAIN\KM020180, WHQ_NT_DOMAIN\AG011842, WHQ_NT_DOMAIN\LS020757, WHQ_NT_DOMAIN\TB020319, WHQ_NT_DOMAIN\LL047891" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />   
    <defaultDocument>
      <files>
        <add value="NotificationSubscribe.aspx" />
      </files>
    </defaultDocument>
	</system.webServer>
</configuration>
